<html>

<head>
  <title>Posts</title>
  <!-- <link rel="stylesheet" href="/static/about_me.css"> -->
</head>

<body>
  <h1>Posts</h1>
  <!-- <h2>{{post_title}}</h2>
  <h4> By {{user}} </h4>
  <textarea> {{post_content}} </textarea>
  <p> Tags: </p>
  <ul>
    {% for tag in tags %}
      <li> {{tag}} </li>
    {% endfor %}
  </ul> -->
  <p>By: {{user}}</p>
  {% for post in posts %}
    <div>
      <h2>{{post.get().title}}</h2>
      <p>{{post.get().content}}</p>
      <p>Tags: <br> {{post.get().tags}}</p>
    </div>
  {% endfor %}



  <!-- <script src = "/static/about_me.js"></script> -->

</body>

</html>
